{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="compass" output="/css/screen.css"
        "@CypressGitElephantBundle/Resources/compass/sass/screen.scss" %}
        <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="repository">
        <nav>
            {% block navigation %}{% endblock %}
        </nav>
        {% block content %}{% endblock %}
    </section>
{% endblock %}