@import "compass/typography/lists/inline-list";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

$text-color: #333;
$bg-color: #EEE;
$link-color: #777;
$link-color-hover: #222;
$border-color: #CCC;
$border-radius: 0.5em;
$gutter: 1em;
$indent-pad: 2em;

$default-box-shadow-color: #CCC;

