
@import "compass/reset";
@import "partials/base";
@import "partials/functions";


@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);


body {
    background-color: $bg-color;
    color: $text-color;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

section.repository
{
    font-size: 1.2em;
    //width: 960px;
    margin: 10px auto;
    padding: 0 10px;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    @include text-shadow(#AAA 0 0 5px);
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.6em;
}

ul.inline {
    @include inline-list;
}

.box {
    @include white-box(1em);
}

@mixin fam3($icon) {
    background: image-url("fam3/" + $icon) no-repeat 0.3em;

    padding-left: 2em;
}

a {
    outline: none;
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-color-hover;
    }
    &.icon {
        &.new {
            @include fam3('add.png');
        }
        &.branch {
            @include fam3('arrow_branch.png');
            &.active {
                color: #009900;
                font-weight: bold;
            }
        }
        &.house {
             @include fam3('house.png');
        }
        &.tree {
            @include fam3('folder.png');
        }
        &.link {
            @include fam3('folder_go.png');
        }
        &.blob {
            @include fam3('page.png');
        }
        &.tag {
            @include fam3('tag_green.png');
        }
    }
}

section.commit {
    @include white-box;
    position: absolute;
    top: 5px;
    right: 5px;
}

section.tree ul, ul.breadcrumb {
    clear: left;
    li {
        a {
            line-height: 2em;
            padding: 0em 0.5em 0em 1em;
            &.house {
                padding-right: 0 !important;
            }
        }
    }
}

section.content {
    @include white-box;
    @include single-box-shadow;
    table.diff {
        &.deleted_file {
            text-decoration: line-through;
        }
        width: 100%;
        margin-bottom: 2em;
        &.last {
            margin-bottom: 0;
        }
        th {
            border: 1px solid #CCC;
            padding: 5px;
            font-weight: bold;
            color: #333;
        }
        tbody {
            border: 1px solid #CCC;
        }
        tr.dots {
            background-color: #EEE;
        }
        tr.unchanged {
            color: #AAA;
        }
        tr.added {
            background-color: #deffb7;
            color: green;
            font-weight: bold;
        }
        tr.deleted {
            background-color: #ffd0d0;
            color: #ff8285;
            font-weight: bold;
        }
        td.ln {
            padding: 4px 10px;
            vertical-align: top;
            border-right: 1px solid #ccc;
            width: 60px;
        }
        td.content {
            padding: 2px 0;
            font-size: 1.2em;
            line-height: 1.3em;
            &.indent-1 {
                padding-left: $indent-pad;

            }
            &.indent-2 {
                padding-left: $indent-pad * 2;
            }
            &.indent-3 {
                padding-left: $indent-pad * 3;
            }
            &.indent-4 {
                padding-left: $indent-pad * 4;
            }
        }
    }
}

section.tree {
    @include white-box;
    @include single-box-shadow;
    table.tree {
        width: 100%;
    }
    tr {
        &.even {
            background-color: $bg-color;
        }
    }
    td {
        padding: 3px 2px;
    }
    a {
        font-size: 1.3em;
        &:hover {
            color: $link-color-hover;
        }
        &.commit {
            padding-left: 1em;
            font-size: 1em;
        }
    }
}

.syntaxhighlighter a {
    display: inline !important;
}

nav {
    margin-bottom: $gutter;
    height: 2.2em;
    ul {
        float: left;
        margin-bottom: 0.5em;
        li {
            float: left;
            height: 1.4em;
            line-height: 1.4em;
        }
    }
    a {
        height: 1.4em;
        display: block;
        text-wrap: none;
    }
}

.label {
    font-weight: bold;
}

ul.breadcrumb {
    //@include box-shadow($default-box-shadow-color 2px 2px 4px);
    //float: left;
    $h: 2.2em;
    margin-bottom: $gutter / 2;
    overflow: hidden;
    @include white-box(0 0.5em);
    li {
        float: left;
        height: $h;
        background: image-url("/bundles/cypressgitelephant/images/bc-separator.png") no-repeat left;
        padding-left: 0.6em;
        &.last {
            border: none;
        }
        &.house {
            //border-right: 1px solid $border-color;
            padding-left: 0;
            background: none;
            a:hover {
                background-color: transparent !important;
            }
        }
        a {
            height: $h;
            line-height: $h;
            display: block;
            font-weight: bold;

            img {
                vertical-align: middle;
            }
            &:hover {
                color: $link-color-hover;
            }
        }
    }
}
