<ul>
    {% for branch in branches %}
        <li>
            <a
                class="icon branch{{ branch.name == app.session.get('gitelephant.branch') ? ' active' : '' }}"
                href="{{ path('repository_branch', { 'ref': branch.name }) }}">{{ branch.name }}</a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ path('branch_new') }}" class="icon new">new branch</a>
    </li>
</ul>