<ul class="breadcrumb">
    <li class="house">
        <a class="icon house" href="{{ path('repository_root') }}">&nbsp;</a>
    </li>
    {% for bc in tree.breadcrumb %}
        <li{{ loop.last ? ' class="last"' : '' }}>
            <a class="icon tree" href="{{ path('repository_tree', {'ref': ref, 'treeish_path': bc.path }) }}">
                {{ bc.label }}
            </a>
        </li>
    {% endfor %}
</ul>