{% extends "CypressGitElephantBundle::base.html.twig" %}

{% block navigation %}
    {% include "CypressGitElephantBundle:Branch:_branch_list.html.twig" %}
    {% include "CypressGitElephantBundle:Repository:_tag_list.html.twig" %}
{% endblock %}

{% block content %}
    <section class="commit">
        <a href="{{ path('repository_commit', { 'ref': repository.getBranch(ref).sha }) }}">{{ repository.getBranch(ref).sha }}</a>
    </section>
    {% include "CypressGitElephantBundle:Repository:_breadcrumb.html.twig" %}
    {% include "CypressGitElephantBundle:Repository:_tree.html.twig" with {
        'tree':          tree,
        'baseRoute':     'repository_root',
        'subtreeRoute':  'repository_tree'
    } %}
{% endblock %}


